@use 'variaveis';

.shows {
    padding: 2vw 5.6vw;
    min-height: 50vw;
    &__list {
        margin-top: 44px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;
        display: none;

        @media (max-width: 768px) {
            grid-template-columns: 1fr 1fr;
        }
        
        &--is-active {
            display: grid;
        }

        &__item {
            img {
                max-width: 100%;
                border-radius: 4px;
            }
        }
    }
    &__tabs{
        display: flex;
        justify-content: center;

        @media (max-width: 768px) {
            white-space: nowrap; /* Faz com que os textos se obriguem a ficar em uma linha, mesmo que isso cause uma rolagem (porém a rolagem será aprenas neste elemento de texto) */
            overflow-x: scroll;
            padding-left: 20px;
        }
        &__button{
            border: none; /* removendo bordas para colocar a nossa */
            color: variaveis.$corTextoSecundario;
            font-size: 20px;
            background: none;
            padding-bottom: 5px;
            text-transform: uppercase;
            margin: 0 1vw;
            cursor: pointer;
            border-bottom: 5px solid transparent;

            &--is-active {
                border-color: variaveis.$corTextoSecundario;
                transition: ease 1s;
            }

            @media (max-width: 768px) {
                font-size: 16px;

            }
        }
    }
}